/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html {
  background-color: Gainsboro;
}

body {
  width:680px;
  background-color: White;
  margin-right:auto;
  margin-left:auto;
}

body {
  color: rgb(68, 68, 68);
  font: lighter 14px/1.5 'Poly',georgia,serif;
}

h1, h2, h3, h4, h5, h6 {
  margin:30px 0 0 0;
  text-rendering: optimizelegibility;
  font-weight:400;
}

p {
  margin-top:15px;
  margin-bottom:20px;
}

h1 {
  font-size:40px;
}
h2 {
  font-size:30px;
}
h3 {
  font-size:25px;
}
h4 {
  font-size:20px;
}

img {
  margin-top:15px;
  margin-bottom:15px;
}

a {
  color: rgb(49, 109, 150); 
  font: lighter;
  text-decoration:none;
}

a:hover   {
  color: #000;
  text-decoration:underline;
}
a:visited { color: #996699; }

#figure p {
  margin-top: -15px;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home {
  padding:0 40px;
}

#home ul {
  margin-top: 25px;
  margin-bottom: 40px;
}

#home li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.posts {
}

ul.posts li {
  
}

ul.posts span {
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

#about {
  padding: 0 40px 30px 40px;
}

#about h1 {
  margin-bottom: 20px;
}

#about img {
  margin: 0 20px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
}

.site .header {
	background:Gainsboro;
	height: 100px;
	display:block;
	padding: 0px 40px 20px;
}

.site .header .logo {
  display:inline-block;
  float:left;
}

.site .header a {
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  font-size:40px;
  margin-top:25px;
  margin-left: -10px;
}

.site .header h1.title a {
  color: Black;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  font-size: 20px;
  color: #aaa;
  float:right;
  margin-left: 40px;
  margin-top:  45px;
  font-family:helvetica,sans-serif;
}

.site .header a.extra:hover {
  color: #000;
}

.site .header .navigation {
  display:inline-block;
  float:right;
}

.site .meta {
  display:inline-block;
  color: #aaa;
  margin-bottom:30px;
  padding-bottom:5px;
}

.footer {
  background-color:Gainsboro;
  padding:40px 40px 0;
  text-align:center;
  color: rgb(153, 153, 153);
}

.footer li {
  display:inline-block;
  padding-right:30px;
}

.site .footer .rss {
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left:.5em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* custom */
.post {
  padding: 0 40px;
}

.post table {
  margin-left:auto;
  margin-right:auto;
  background-color: aliceblue;
  margin-top:20px;
  margin-bottom:20px;
}

.post th, td {
  padding:0 10px 1px 10px;
  text-align:left;
}

.post blockquote {
  border-left: 1px solid rgb(221,221,221);
  margin-left: 15px;
  color: rgb(104,104,104); 
}

.post blockquote p {
  padding-left: 15px;
}
