<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <div class="logo">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>
            <div class-"navigation">
              <a class="extra" href="/about">About</a>
              <a class="extra" href="/">Posts</a>
            </div>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <ul>
                <li>Chip Jackson</li>
                <li>Student</li>
                <li>chipjacks@gmail.com</li>
                <li><a href="https://github.com/chipjacks">github.com/chipjacks
                  </a></li>
              </ul>
            </div>
          </div>
        </div>

    </body>
</html>
